<div class="main-content">
    <ul class="queue">
        <li class="song">
            <div class="theme-block">
                <div>
                    <a class="title">	
                        Song Title
                    </a>
                    <img src="../../assets/open-iconic/svg/check.svg" alt="icon name">
                    <div>
                            <span class="glyphicon glyphicon-plus" id="add"></span>
                        </div>
                    By Artist
                    <span id="right">
                        Stars
                    </span>
                </div>
            </div>
        </li>
        <li class="song">
                <div class="theme-block">
                    <div>
                        <a class="title">	
                            Song Title
                        </a>
                    </div>
                    <div class="subtext-laptop">
                        By Artist
                        <span id="right">
                            Stars
                        </span>
                    </div>
                </div>
            </li>
    </ul>
</div>
<div>
    <span class="glyphicon glyphicon-plus" id="add"></span>
</div>