<% for (let i = 0; i < songs.length; i++) { %>
<ul class="queue">
    <li class="song">
        <div class="theme-block">
            <div>
                <a class="title">	
                    <%=  songs[i].title %>
                </a>
            </div>
            <div class="subtext-laptop">
                <span id="right">
                    Stars: <%=  songs[i].votes.length %>
                </span>
            </div>
        </div>
    </li>
</ul>
<% } %>