@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.song {
  padding: 10px 0 10px 0px;
  transition: background-color 0.2s ease;
  border-bottom: 2px solid #edf0f5;
  background-color: white;
  margin-bottom: 5px;
}

.theme-block {
  display: block;
  margin-left: 22px;
}

.main-content {
  position: relative;
  width: 100%;
  min-height: calc(93vh - 10px);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  box-sizing: border-box;
  padding: 0px 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
  background-color: #edf0f5;
}

.subtext {
  color: #696969;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-family: 'IBM Plex Serif', serif;
  position: relative;
  bottom: 1px;
  left: 2px;
}

ol {
  padding: 0 40px;
  margin: 0;
}

li {
  position: relative;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.queue{
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
  margin-left: 23px;
  margin-right: 23px;
}

#right{
  float:right;
  margin-right: 22px;
  color: #1A5276;
  margin-bottom: 10px;
}

/* header */
#header {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad -200%, #1fc8db 51%, #2cb5e8 75%);
  color: #fff;
  line-height: 18px;
  position: relative;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 40px;
}

.header-text {
  position: relative;
  width: inherit;
  height: inherit;
  box-shadow: 2px 2px 2px 2px grey;
}

.home-link {
  width: 50px;
  height: 66px;
}

.logo{
    height: 100%;
    margin: 0;
    padding:0;
  }

h1 {
  font-weight: bold;
  display: inline-block;
  vertical-align:middle;
  margin: 0;
  font-size: 16px;
}

.name {
  font-size: 30px;
  letter-spacing: 2px;
  vertical-align: center;
  height: 100%;
}

#app-title{
  text-align: center;
}

/* add button */
#add{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
