<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GMusic</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-lightm">
          <a class="navbar-brand" href="/queue">Gruve</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <% if(locals.currentUser) { %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/queue">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Music
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/queue">Queue</a>
                  <a class="dropdown-item" href="/queue/suggest">Suggest Song</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
              <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/logout">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="/edit"><%=currentUser.name%> | <%=currentUser.email%></a>
                      </li>
                  </ul>
                  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
              </form>
        <% } else { %>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
                <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/login" id="navLogin">
                    <button class="btn btn-outline-primary my-2 my-sm-0 mr-3" type="submit">Login</button>
                </form>
                <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/signup">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
                </form>
             </div>
            <% } %>
          </div>
      </nav>

<<<<<<< HEAD
    <div class="container">

      <% include partials/alerts %>
=======
    <div>
>>>>>>> bbd832eb5fcbd5c0150ec8531aad86ed06bce6d0
      <%- body %>
      
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>